body {
  background-color: #f5f6fa;
  font-family: Arial, sans-serif;
}

.contact-box {
  background: #a3d0ff;
  border-radius: 12px;
  box-shadow: 0px 4px 10px rgba(0,0,0,0.1);
}

.contact-box h3 {
  color: #222;
}

.btn-submit {
  background: linear-gradient(90deg, #6a11cb, #2575fc);
  color: #fff;
  font-weight: 600;
  border-radius: 8px;
  padding: 10px;
  border: none;
}

.btn-submit:hover {
  opacity: 0.9;
}

.contact-img {
  
  height : 450px;
  width: 450px;
}
