/* Top Banner / Navbar */
.top-banner {
  background-color: #7b2cbf; /* Purple */
}
/* Footer */
.footer {
  background-color: #333;
  font-size: 14px;
}

/* Card styling */
.card img {
  height: 200px;
  object-fit: cover;
}
