/* Top Banner */
.top-banner {
  background-color: #7b2cbf; /* Purple */
}

/* Image styling */
.img-fluid {
  max-width: 80%;
  height: auto;
  /* background: #30004a; */
  border-radius: 20px;
  padding: 0px;
  width : 300px;
  height :300px;
  margin-top: 10px;
}

/* Button */
.btn-primary {
  background-color: #7b2cbf;
  border: none;
  border-radius: 8px;
  padding: 10px 20px;
}

.btn-primary:hover {
  background-color: #5a189a;
}

/* Footer */
.footer {
  background-color: #333;
  font-size: 14px;
  position: fixed;
  width :100%;
  bottom: 0;
  left:0;
  color :#fff;
}
body{
  padding-bottom: 60px;
}